<h3>Preguntas</h3>

<form id="fSearch" name="fSearch" action="/quizes" method="get">
    <label>Buscador</label>
    <input type="text" name="search" id="search" value="" placeholder="Buscador de preguntas">
    <input type="submit" value="Buscar">

</form>

<table>
    <% var i; for(i=0;i<quizes.length; i++){ %>
        <tr><td><a href="quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a></td></tr>
    <% } %>
</table>